<div class="with-side-bar">
      <%= render partial: "side-bar"%>
      <div class="right-side-contact">
            <div class="col-md-6">
                  <div class="card">
                        <%= render "contacts", action: "Create" %>
                  </div>
            </div>
      </div>
</div>


  