/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


body{
  max-width: 100vw;
  padding: 0%;
  margin:0;
  background-color: #caf0f8;

}

.with-side-bar {
  display: grid;
  grid-template-columns: 17vw 1fr;
}

.side-bar{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  border-right: 3px solid black;

}

.links-list{
  margin:0 1em 1em 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.side-bar-link_old{
  
  width: 80%;
  margin-top: 3vh;
  padding: 0.2rem;

  font-size: 1rem;
  text-decoration: none;
  text-align: center;

  border: 1px solid #0077b6;
  background-color: #90e0ef;
}

.side-bar-link{
  display:inline-block;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color: transparent;
  text-align:center;
  transition: all 0.2s;
  border: none;
  text-decoration: none;
  padding: .3em 1.2em;
  }
  
  .icon-link{
    display: flex;
    align-items: center;
    background-color:#4eb5f1;
    border-radius:2em;
    box-sizing: border-box;
    margin:0 0.5em 0.5em 0;
  }
  
  .icon-link:hover{
   background-color:#0077b6;
  }

  .icon-link:hover>#mail{
    transform: rotate(360deg);
    transition: all 0.7s;
  }

  .side-bar-link:hover{
    color: #FFFFFF;
  }

  @media all and (max-width:30em){
  .side-bar-link{
  display:block;
  margin:0.2em auto;
  }
  }



  .notes{
    background-color: mediumblue;
    width: 60px;
  }




.logo-small{
  width: 100%;
  max-height: 30vh;
  margin-bottom: 1em;
}

.contact-page{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#add-note-area{
  width: 90%;
  height: 200px;
  margin: 10px;
}

#add-note-button{
  width: 80px;
  height: 40px;
  margin: 10px;
}

.note-listing{
  list-style-type: none;
  background-color: white;
  width: 90%;
  padding: 5px;
  margin: 10px;
}

.pinned{
  background-color: #00B4D8;
}

#note-buttons{
  display: flex;
  align-items: center;
}

#progress-contact{
  width: 90%;
  height: 10px;
  margin: 10px;
}

.contact-info{
  background-color: white;
  width: 90%;
  min-height: 35px;
  padding: 5px;
  margin: 10px;
  border: solid black 1px;
  font-size: xx-large;
}

.contact-buttons{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  height: 100px;
  gap: 10px;
}

.contact-button{
  text-align: center;
  margin: 20px;
}

.contact-button>a,
.contact-button>button,
#button-delete{
  text-decoration: none;
  color: black;
  background-color: rgb(255, 253, 246);
  border: solid black 1px;
  padding: 10px;
  border-radius: 5%;
  font-size: 1.25rem;
}

#button-delete,
.contact-button>button{
  padding: 7px;
}

#button-delete{
  display: none;
  background-color: #b92b27;
  color: white;
}

#button-delete:hover{
  background-color: rgb(255, 253, 246);
  color: black;
}

.contact-button>a:hover,
.contact-button>button:hover,
#button-delete:hover{
  background-color: #EEEEEE;
}

#delete-note{
  display: block;
  border: solid rgb(99, 99, 99) 1px;
  margin: 5px;
  padding: 2px;
  background-color: #f0efef;
  border-radius: 2px;
}

#delete-note:hover{
  background-color: rgb(233, 233, 230);
}






/* this is where i am styling the index page */

.top-bar{
  margin-left: 2vw;
  padding: 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.search-button{
  height: 2rem;
  width: 4rem;
  background-color: #4eb5f1;
  border: 1px solid #0077b6;
}

.search-bar{
  height: 1.75rem;
  width: 15rem;
  border: 1px solid #0077b6;
}
.member-name{
  font-size: xx-large;
}

.contact-box{
list-style: none;
background-color: #90e1ef2d;
  border: 2px solid #0077b6;
  margin-right: 4vw;
  margin-left: 2vw;
  margin-bottom: 0.5rem;
  width: 100%;

  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 1fr 1fr;

  
  
}

.contacts-box{
display: flex;
flex-wrap: wrap;

}

.contact-font{
  font-size: x-large;
  margin: 0;
  margin-left: 1vw;
}

.link-to-contact {
  color: #023eba;
}

.link-to-contact:hover{
  color: #0242c4;
}

/* this is the style fot contact form */

.contact-form-outter-box{

  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  min-height: 50%;
  padding: 1rem;
  
  background-color: #90e1ef5e;
  border: 2px solid #0077b6;

}

.contact-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr;

}

.contact-form-field{
  font-size: 1.5rem;
  font-weight: bold;

}

.contact-field{
  width: 70%;
  margin-top: 1vh;
  border: 1px solid #0077b6;
}

.date-field{
  width: 71%;
  border: 1px solid #0077b6;
  /* position: relative;
  top: 1vh; */
  
}

.contact-form-title{
  text-align: center;
  color: #023eba;
  font-size: xx-large;
  text-decoration: underline;
}

.btn-box{
  display: flex;
  justify-content: center;
}
