.reports-choose{
position: absolute;
bottom: 0;
margin: 5vh;
  
}

.reports-btn{
height: 7rem;
width: 10rem;
margin-left: 5vw;
margin-right: 5vw;
border: 2px solid #0077b6;
border-radius: 10px;
background-color: #4eb5f1;
font-size: x-large;
color: white;
}

.reports-btn:hover{
  background-color: #0077b6;
}

.button-box{
display: flex;
justify-content: center;
}

.time-box{
  display: flex;
  justify-content: center;
  margin: 1rem;
  
}

.time{
margin-left: 1rem;
margin-right: 6rem;
font-weight: bold;
}
