/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#admin-label{
  color: #3498db;
}

.everything-else{
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-show{
  list-style-type: none;
  background-color: #90e1ef2d;
  border: 2px solid #0077b6;
  margin-bottom: 0.5rem;
  width: 90%;
  display: grid;
  grid-template-columns:1fr 1fr;
}

.admin-list{
  border: solid #0077B6 3px;
}

#progress-member{
  width: 225px;
  height: 20px;
  margin: 5px 10px;
}

#mail{
  height: 40px;
  font-size: x-large;
}

#mail-button{
  font-size: x-large;
  width: 15rem;
  background-color: #3caef0;
}

.member-show-hidden{
  display: block;
}

.hidden{
  display: none;
  font-size: x-large;
}

.hidden-add{
  display: none;
}

.message-subject{
  width: 650px;
  height: 40px;
  margin: 5px;
}

.message-text{
  width: 650px;
  height: 75px;
  margin: 5px;
}

.message-button{
  width: 100px;
  height: 40px;
  margin: 5px;
  background-color: #3caef0;
}

.team-member-list{
  font-size: xx-large;
  cursor: pointer;
}

.team-member-list:hover{
  background-color: #3caef0;
}

.team-member-new-page{
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-member-form{
  background-color: skyblue;
  width: 700px;
  height: 900px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input[type="radio"]{
  height:15px;
  width: 15px;

}

#team_member_team_id{
  display: none;
}