/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, #b92b27, #1565c0)
}

.card {
  margin-bottom: 20px;
  border: none
}

.box {
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #191919;
  text-align: center;
  transition: 0.25s;
  margin-top: 100px
}

.box input[type="text"],
.box input[type="email"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="email"]:focus,
.box input[type="password"]:focus {
  width: 300px;
  border-color: #2ecc71
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer
}

.box input[type="submit"]:hover {
  background: #2ecc71
}

#admin-label{
  color: #3498db;
}

.everything-else{
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-show{
  list-style-type: none;
  margin: 5px;
  font-size: xx-large;
  width: 750px;
  border: solid #0077B6 1px;
}

.admin-list{
  border: solid #0077B6 3px;
}

#progress-member{
  width: 225px;
  height: 20px;
  margin: 5px 10px;
}

.member-face{
  background-color: #48CAE4;
  border-radius: 25px;
  margin: 5px;
}

#mail{
  height: 40px;
  font-size: x-large;
}

.member-show-hidden{
  display: block;
}

.hidden{
  display: none;
}

.hidden-add{
  display: none;
}

.message-subject{
  width: 650px;
  height: 25px;
  margin: 5px;
}

.message-text{
  width: 650px;
  height: 75px;
  margin: 5px;
}

.message-button{
  width: 80px;
  height: 40px;
  margin: 5px;
}

.team-member-list:hover{
  background-color: #48CAE4;
}

.team-member-new-page{
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-member-form{
  background-color: skyblue;
  width: 700px;
  height: 900px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input[type="radio"]{
  height:15px;
  width: 15px;

}

#team_member_team_id{
  display: none;
}

.field_with_errors>#team_member_name,
.field_with_errors>#team_member_email,
.field_with_errors>#team_member_job,
.field_with_errors>#team_member_password,
.field_with_errors>#team_member_password_confirmation,
.field_with_errors>#team_member_team_id{
  height: 30px;
  width: 350px;
  background-color: lightcoral;
  margin: 30px 0;
}