<div class="with-side-bar">
    <div class="partial">
        <%= render partial: "contacts/side-bar"%>
    </div>
    <div class="everything-else">
        <%= link_to "Generate report",new_team_report_path(@team)%>
    </div>
</div>
index reports