<%= javascript_pack_tag "index_reports" %>

<div class="with-side-bar">
    <div class="partial">
        <%= render partial: "contacts/side-bar"%>
    </div>
    <div class="everything-else">
        <h1 class="report title">Generate Report</h1>

        <div class="reports-box">
        
        
        </div>

        <div class="reports-choose">

            <div class="time-box">
            <p id="hiddenfield" hidden><%=current_team.id%></p>

            <div class="time">
            <label for="start_time">Start Time</label>
            <input type="date" id="start_time" >            
            </div>

            <div class="time">
            <label for="end_time">End Time</label>
            <input type="date" id="end_time" >            
            </div>


            </div>

            <div class="button-box">
            <input type="button" value="TASKS" id="task-submit" class="reports-btn">
            <input type="button" value="CONTACTS" id="contacts-submit" class="reports-btn">
            <input type="button" value="MEMBERS" id="members-submit" class="reports-btn">
            
             </div>

            
        </div>




    </div>
</div>